@import "color.scss";
@import "fonts.scss";
@import "mixins.scss";

.footer {
  width: 100%;
  height: auto;
  background: url(/images/bg.png) no-repeat;
  background-size: cover;
  background-position: top center;
  @include flexbox(column, flex-start, flex-start);
  padding: 5%;
  box-sizing: border-box;
  padding-bottom: 2%;
}

.firs_div_ft {
  @include flexbox(row, space-between, flex-start);
  width: 100%;

  @media (max-width: 750px) {
    flex-direction: column;
  }

  .tex_ft {
    width: 40%;

    @media (max-width: 850px) {
      width: 45%;
    }

    @media (max-width: 750px) {
      width: 90%;
      margin-bottom: 30px;
    }

    .title_ft {
      font-size: 35pt;
      color: white;

      @media (max-width: 1160px) {
        font-size: 25pt;
      }

      @media (max-width: 850px) {
        font-size: 20pt;
      }
    }

    .sb_t_ft {
      font-size: 25pt;
      color: white;
      margin-top: 5px;

      @media (max-width: 1160px) {
        font-size: 20pt;
      }

      @media (max-width: 850px) {
        font-size: 15pt;
      }
    }

    .ft_text_ {
      font-size: 14pt;
      color: white;
      margin-top: 20px;

      @media (max-width: 1160px) {
        font-size: 13pt;
      }

      @media (max-width: 850px) {
        font-size: 12pt;
      }
    }
  }
}

.form_ft {
  position: relative;

  @media (max-width: 750px) {
    @include flexbox(colum, flex-end, flex-end);
    align-items: flex-end;
    width: 100%;
    margin-bottom: 30px;
  }

  .showSucess {
    width: 90%;
    height: 30px;
    @include flexbox();
    padding: 5%;
    background-color: $menu_item;
    display: none;
    margin-top: 30px;

    @media (max-width: 750px) {
      width: 100%;
    }

    h1 {
      font-size: 13pt;
      text-align: center;
    }
  }

  form {
    width: 100%;
  }

  .error_st {
    font-size: 12pt;
    color: white;
  }

  @media (max-width: 550px) {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .form_gro {
    @include flexbox(column, flex-start, flex-start);
    margin-bottom: 15px;

    @media (max-width: 550px) {
      width: 100%;
    }

    label {
      font-size: 13pt;
      font-family: $goldReg;
      color: white;
      margin-bottom: 4px;

      @media (max-width: 900px) {
        font-size: 11pt;
      }
    }

    .ipt_f {
      width: 350px;
      height: 40px;
      border-radius: 5px;
      background-color: transparent;
      color: white;
      border: 2px solid $menu_item;
      padding: 5px;
      outline: none;
      font-size: 12pt;
      transition: 0.5s;
      box-sizing: border-box;

      @media (max-width: 900px) {
        width: 300px;
      }

      @media (max-width: 550px) {
        width: 100%;
        height: 40px;
      }

      &::placeholder {
        font-size: 11pt;
        color: gray;

        @media (max-width: 900px) {
          font-size: 10pt;
        }
      }

      &:hover {
        background: rgba(27, 23, 23, 0.671);
        border-color: white;

        &::placeholder {
          color: rgb(201, 197, 197);
        }
      }
    }

    .text_ab_ft_i {
      @extend .ipt_f;
      height: 100px;
      resize: none;

      @media (max-width: 900px) {
        height: 60px;
      }
    }
  }

  .btnDiv_ {
    @include flexbox(row, flex-end, flex-end);

    @media (max-width: 750px) {
      justify-content: flex-start;
    }
  }

  .btnSend_ft {
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid $menu_item;
    outline: none;
    color: $menu_item;
    font-size: 14pt;
    font-family: $goldSB;
    width: 170px;
    height: 40px;
    margin-top: 10px;

    transition: 0.5s;

    @media (max-width: 900px) {
      width: 100px;
      height: 35px;
      font-size: 12pt;
    }

    &:hover {
      background-color: $menu_item;
      color: black;
    }
  }
}

.logo_ft {
  @media (max-width: 850px) {
    width: 5rem !important;
  }
}

.cont_ft {
  width: 100%;
  @include flexbox(column);
  margin-top: 40px;

  .mn_redes_ft {
    margin-top: 0;
    width: 130px;
  }
}
