@import "color.scss";
@import "fonts.scss";
@import "mixins.scss";

.footer {
  width: 100%;
  height: auto;
  background: url(/images/bg.png) no-repeat;
  background-size: cover;
  background-position: top center;
  @include flexbox(column, flex-start, flex-start);
  padding: 5%;
  box-sizing: border-box;
  padding-bottom: 2%;
}

.logo_ft {
  @media (max-width: 850px) {
    width: 5rem !important;
  }
}

.cont_ft {
  width: 100%;
  @include flexbox(column);
  margin-top: 40px;

  .mn_redes_ft {
    margin-top: 0;
    width: 130px;

    @media (min-width: 1500px) {
      width: 250px;
    }

    @media (min-width: 2500px) {
      width: 300px;
    }
  }
}
